*{
   box-sizing: border-box;
}
body{
   background-color:  #E5E5E5;;
}
.main-form{
   max-width: 570px;
   width: 100%;
   margin: 0 auto;
   background-color: white;
   border-radius: 6px;
}
.main-form__form{
   max-width: 500px;
   width: 100%;
   margin: 0px auto;
}